<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-brand" href="/">
        <img src="<%= asset_path('promoloyola81_logo_hat_red.png') %>" alt="Promo 81">
      </a>
    </div>
    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-right nav-menu">
      <div class="nav-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-danger" href="/users/sign_out" rel="nofollow" data-method="delete">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              <span>Sign Out</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
