.nav-item{
  &.is-brand{
    padding-left: 0.75rem !important;
  }

  img{
    height: 3.5rem;
    max-height: none;
  }
}

.main-navbar{
  @media(max-width: 768px){
    .button.is-danger{
      margin-top: 10%;
    }
    .nav-item{
      justify-content: flex-end;
    }
  }
}
