.devise-body{
  height: 100%;
  padding-bottom: 0;
  overflow: auto;
}

/*

SESSIONS - NEW

*/

.logo-wrapper{
  img{
    /* margin-top: 100px; */
    max-width: 75%;
    margin: 100px auto 0;
    display: block;
  }
}
.sign-in-form{

}
